/target
*.tar
*.tar.gz
*report.json
*risks.json
*risks.xlsx
*results_from_splunk.yaml
*stats.json
*tags.xlsx
*assets.json
*test1.yaml
.*cache
__pycache__
target
*#*
**_DEV
.python_packages
.DS_Store
**/.terraform
**/.terraform.lock.hcl
**/*tfstate*
rustc-ice*.txt
*.profraw
*.zip
**~$*.xlsx
outfiles
terraform/github_webhooks/function_zip/ssphp-github-webhooks
